* {
  box-sizing: border-box;
}

body {
  margin: 0;
  justify-content: center;
  text-align: center;
  display: flex; 
  background-color: black; 
  font-family: 'Poppins', sans-serif;
}

.bold {
  font-weight: bold;
}

.gray {
  color: gray;
}

.container {
  width: 550px;
  height: 100%;
  background-color: white;
}

nav {
  height: 70px;
  display: flex;
  padding: 22px 30px; 
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section {
  padding: 20px;
}

.hero--photo {
  max-width: 395px;
}

.hero--header {
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.hero--text {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}

.cards-list {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  flex-wrap: nowrap;
}

.card--container {
  width: 176px;
  font-size: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 10px;
}

.card--price {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}